@import "variables";
@import "mixins";
@import "keyframes";

.go-to-choose-menu-anim {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  width: 0;
  background: black;
  animation: loadingLeftRight 1s ease-in-out forwards;
}

.back-main-menu-anim {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  height: 100vh;
  width: 0;
  background: black;
  animation: loadingLeftRight 1s ease-in-out forwards;
}

.start-game-anim {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 0;
  width: 100%;
  background: black;
  animation: loadingBottom 1s ease-in-out forwards;
}

.players-turn-info {
  animation: playersTurnInfoAnimate 2s ease-in-out forwards;
}

.shake-x {
  animation: shakeX .3s linear forwards;
  animation-delay: 0s;
}

.shake-y {
  animation: shakeY .3s linear forwards;
  animation-delay: 0s;
}

.shake-mix {
  animation: shakeMix .3s linear forwards;
  animation-delay: 0s;
}

.end-turn-animation {
  animation: endTurnAnimate .7s linear forwards;
}

.card-draw-animation {
  width: 8rem;
  height: 10rem;
  animation: cardDrawAnimateDesktop .2s linear forwards;

  @include tablet-landscape {
    width: 7rem;
    height: 9rem;
    animation: cardDrawAnimateTablet .2s linear forwards;
  }

  @include mobile-landscape {
    width: 5rem;
    height: 7rem;
    animation: cardDrawAnimateMobile .2s linear forwards;
  }
}

.card-discard-animation {
  animation: cardDiscardAnimate .2s linear forwards;
}

.touch-start-animation {
  transform: scale(1.5) translateY(-18px);
  z-index: 100;
}

.shield-animation {
  position: absolute;
  top: 0;
  left: 30%;
  width: 200px;
  height: 200px;
  animation: shieldAnimate 1s linear forwards;

  @include mobile-landscape {
    width: 100px;
    height: 100px;
    animation: shieldAnimateMobile 1s linear forwards;
  }
}

.attack-animation {
  position: absolute;
  top: -16%;
  left: -6%;
  width: 450px;
  height: 550px;
  animation: attackAnimate 0.5s linear forwards;

  @include tablet {
    width: 400px;
    height: 400px;
    top: -10%;
    animation: attackAnimateTablet 0.5s linear forwards;
  }

  @include mobile-landscape {
    width: 250px;
    height: 250px;
    top: -10%;
    animation: attackAnimateMobile 0.5s linear forwards;
  }
}

.anger-attack-animation {
  position: absolute;
  top: -16%;
  left: -6%;
  width: 450px;
  height: 550px;
  animation: smashAttack 0.5s linear forwards;

  @include mobile-landscape {
    width: 250px;
    height: 250px;
    top: -10%;
  }
}

.attack-right-animation {
  animation: attackRight .5s ease-in-out forwards;
}

.attack-left-animation {
  animation: attackLeft .5s ease-in-out forwards;
}

.smash-attack-animation {
  position: absolute;
  top: 10%;
  left: 11%;
  width: 300px;
  height: 300px;
  animation: smashAttack 0.5s linear forwards;

  @include mobile-landscape {
    width: 150px;
    height: 150px;
  }
}

.warrior-ultimate-animation {
  position: absolute;
  top: -16%;
  left: -6%;
  width: 450px;
  height: 550px;
  animation: warriorUltimate 0.8s linear forwards;

  @include mobile-landscape {
    width: 250px;
    height: 250px;
    top: -10%;
  }
}

.rogue-ultimate-animation {
  position: absolute;
  top: -16%;
  left: -6%;
  width: 450px;
  height: 550px;

  @include mobile-landscape {
    width: 250px;
    height: 250px;
  }
}

.mage-ultimate-animation {
  position: absolute;
  top: -16%;
  left: -6%;
  width: 450px;
  height: 550px;
  animation: refreshSkillAnimate 0.8s linear forwards;

  @include mobile-landscape {
    width: 250px;
    height: 250px;
    top: -10%;
  }
}

.fade-in-animation {
  z-index: 500;
  animation: fadeIn 0.5s linear forwards;
}

.fade-out-animation {
  z-index: 500;
  animation: fadeOut 0.5s linear forwards;
}

.fade-in-pile-animation {
  z-index: 700;
  animation: fadeIn 0.3s linear forwards;
}

.refresh-skill-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  animation: refreshSkillAnimate 1s linear forwards;

  @include mobile-landscape {
    width: 50px;
    height: 50px;
  }
}

.defend-value-positive-animation {
  animation: DefendAnimatePositive .5s linear forwards;
}

.defend-value-negative-animation {
  animation: DefendAnimateNegative .5s linear forwards;
}

.damage-number-animation {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-size: 3rem;
  z-index: 1000;
  transform-origin: 50% 50%;
  animation: damageNumberAnimate linear 1.5s forwards;
}

.win-info-animation {
  background: linear-gradient(to right, #FFF 20%, #eb17de 40%, #FF0 60%, #FFF 80%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1s linear infinite;
}

.pulse-animation {
  border-radius: 20px;
  animation: pulse 2s infinite;
}

.pulse-animation-enter {
  border-radius: 20px;
  animation: pulse 0.8s infinite;
}



