.wrapper-battle {
  height: 100vh;
  background: url("../images/backgrounds/battlefield.jpg") center/cover no-repeat;
}

/* Start Счетчик набранных карт */
.card-counter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding-top: 2rem;
  color: white;
}

.count {
  margin-right: 1.1rem;
}

.accept {
  display: block;
  border-radius: 20px;
  background: linear-gradient(#4992dc, #16dcef);
  height: 50px;
  width: 200px;
  font-size: 2rem;
  color: white;
  padding-bottom: 1rem;
  margin: 1.5rem auto;
  cursor: pointer;
}

.reject {
  @extend .accept;
  background: linear-gradient(#d249dc, #ef1678);
}

.confirm-continue {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: wheat;
  cursor: pointer;
}

/* End Счетчик набранных карт и Alert если выбранно слишком много */

/* Start игровое поле */
.battle-field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.play-field {
  width: 43%;
  height: 30%;
  position: relative;
  top: 36%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.players-action {
  height: 10rem;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1%;
  z-index: 1500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.end-of-turn-btn {
  position: absolute;
  display: flex;
  top: 25%;
  height: 100px;
  width: 100px;
  z-index: 100;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 50%;
  border: 5px solid white;
  text-align: center;
  align-items: center;
}

.battle-field-nav {
  position: absolute;
  top: 5%;
  left: 2%;
  z-index: 650;
  display: flex;
  flex-direction: column;
  align-items: center;


  &__icon {
    color: #d4b7b7;
    cursor: pointer;
  }

  &__list {
    color: white;
    text-align: center;
    font-size: 2rem;
    opacity: 1;
    transition: all .3s ease-in-out;

    li {
      margin-top: 1rem;
      transition: color .3s ease-in-out;
      cursor: pointer;
    }

    li:hover {
      color: #f80606;
    }

    .concede,
    .save-progress {
      color: grey;
    }
    .concede-allow,
    .save-progress-allow {
      color: white;
    }
  }
}

.player-name-choosing {
  margin-bottom: 1rem;
}

.hold {
  cursor: grabbing;
}

.invisible {
  opacity: 0;
}

[draggable = true] {
  cursor: grab;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* End игровое поле */