@import "variables";
@import "mixins";

.wrapper-battle {
  height: 100vh;
  background: url("../images/backgrounds/battlefield.jpg") center/cover no-repeat;
}

/* Start Счетчик набранных карт */
.players-draw-info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding-top: 2rem;
  color: white;

  @include mobile-portrait {
    padding-top: 4rem;
    font-size: 4rem;
  }

  @include small-mobile-portrait {
    padding-top: 4rem;
    font-size: 4rem;
  }

  &__count {
    margin-right: 1.1rem;

    @include tablet-landscape {
      font-size: 3rem;
    }

    @include mobile-landscape {
      font-size: 2.5rem;
    }

    @include small-mobile-landscape {
      font-size: 2.5rem;
    }
  }

  &__max-count {
    @include tablet-landscape {
      font-size: 3rem;
    }

    @include mobile-landscape {
      font-size: 2.5rem;
    }

    @include small-mobile-landscape {
      font-size: 2.5rem;
    }
  }

  &__name {
    margin-bottom: 1rem;

    @include tablet-landscape {
      font-size: 3rem;
    }

    @include mobile-landscape {
      margin: 0;
      font-size: 2rem;
    }

    @include small-mobile-landscape {
      margin: 0;
      font-size: 2rem;
    }
  }

  &__accept {
    display: block;
    border-radius: 20px;
    background: linear-gradient(#4992dc, #16dcef);
    height: 50px;
    width: 200px;
    font-size: 2rem;
    color: white;
    padding-bottom: 1rem;
    margin: 1.5rem auto;
    cursor: pointer;

    @include mobile-landscape {
      display: inline;
      margin-left: 3.5rem;
      padding: 0;
      height: 42px;
      width: 135px;
      font-size: 1.5rem;
    }

    @include small-mobile-landscape {
      display: inline;
      margin-left: 3.5rem;
      padding: 0;
      height: 42px;
      width: 135px;
      font-size: 1.5rem;
    }

    @include mobile-portrait {
      height: 80px;
      width: 250px;
      font-size: 3.4rem;
    }

    @include small-mobile-portrait {
      height: 80px;
      width: 250px;
      font-size: 3.4rem;
    }
  }
}

.confirm-continue {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: wheat;
  cursor: pointer;
  z-index: 1100;

  @include mobile-landscape {
    font-size: 2rem;
    display: block;
    top: 25%;
  }

  @include small-mobile-landscape {
    font-size: 2rem;
    display: block;
    top: 25%;
  }

  &__reject {
    @extend .players-draw-info__accept;
    background: linear-gradient(#d249dc, #ef1678);

    @include mobile-landscape {
      display: block;
      margin: 1.5rem auto;
    }

    @include small-mobile-landscape {
      display: block;
      margin: 1.5rem auto;
    }
  }

  &__accept {
    @extend .players-draw-info__accept;

    @include mobile-landscape {
      display: block;
      margin: 1.5rem auto;
    }

    @include small-mobile-landscape {
      display: block;
      margin: 1.5rem auto;
    }
  }
}

.play-again {
  @extend .confirm-continue;

  @include mobile-landscape {
    font-size: 2rem;
    display: block;
    top: 35%;
  }

  @include small-mobile-landscape {
    font-size: 2rem;
    display: block;
    top: 35%;
  }

  &__reject {
    @extend .confirm-continue__reject;
    background: linear-gradient(#d249dc, #ef1678);

    @include mobile-landscape {
      display: block;
      margin: 1.5rem auto;
    }

    @include small-mobile-landscape {
      display: block;
      margin: 1.5rem auto;
    }
  }

  &__accept {
    @extend .confirm-continue__accept;

    @include mobile-landscape {
      display: block;
      margin: 1.5rem auto;
    }

    @include small-mobile-landscape {
      display: block;
      margin: 1.5rem auto;
    }
  }
}
/* End Счетчик набранных карт и Alert если выбранно слишком много */

/* Start игровое поле */
.battle-field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.play-field {
  width: 43%;
  height: 30%;
  position: relative;
  top: 36%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.players-action {
  height: 10rem;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1%;
  z-index: 1500;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile-landscape {
    font-size: 2rem;
    height: 6rem;
  }

  @include small-mobile-landscape {
    font-size: 2rem;
    height: 6rem;
  }
}

.end-of-turn-btn {
  position: absolute;
  display: flex;
  top: 30%;
  height: 70px;
  width: 70px;
  z-index: 100;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 50%;
  border: 5px solid white;
  text-align: center;
  align-items: center;

  @include tablet-portrait {
    top: 47%;
  }

  @include mobile-landscape {
    height: 50px;
    width: 50px;
    font-size: 1rem;
    border: 3px solid white;
    top: 30%;
  }

  @include small-mobile-landscape {
    height: 50px;
    width: 50px;
    font-size: 1rem;
    border: 3px solid white;
    top: 30%;
  }

  @include mobile-portrait {
    top: 42%;
  }

  @include small-mobile-portrait {
    top: 42%;
  }
}

.battle-field-nav {
  position: absolute;
  top: 5%;
  left: 2%;
  z-index: 650;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile-landscape {
    top: 2%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  @include small-mobile-landscape {
    top: 2%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  @include mobile-portrait {
    align-items: self-start;
    left: 5%;
  }

  @include small-mobile-portrait {
    align-items: self-start;
    left: 5%;
  }


  &__icon {
    color: #d4b7b7;
    cursor: pointer;

    @include mobile-portrait {
      font-size: 5rem;
    }

    @include small-mobile-portrait {
      font-size: 5rem;
    }
  }

  &__list {
    color: white;
    text-align: center;
    font-size: 1rem;
    opacity: 1;
    transition: all .3s ease-in-out;
    background: #4d3e3e;
    border-radius: 20px;

    @include mobile-landscape {
      font-size: 1rem;
      margin-left: 1rem;
    }

    @include small-mobile-landscape {
      font-size: 1rem;
      margin-left: 1rem;
    }

    @include mobile-portrait {
      font-size: 2.35rem;
    }

    @include small-mobile-portrait {
      font-size: 2.35rem;
    }

    li {
      margin: 1rem 1rem 0 1rem;
      transition: color .3s ease-in-out;
      cursor: pointer;

      &:last-child {
        margin-bottom: 1rem;
      }

      @include mobile-landscape {
        margin: 0.5rem;
      }

      @include mobile-portrait {
        margin: 1.3rem 1rem 0 1rem;
      }

      @include small-mobile-portrait {
        margin: 1.3rem 1rem 0 1rem;
      }
    }

    li:hover {
      color: #f80606;
    }

    .concede,
    .save-progress {
      color: grey;
    }

    .save-progress-success {
      color: green;
      margin-left: 0.5rem;
      font-size: 1rem;
    }

    .save-progress-failed {
      color: #ff0d0d;
      margin-left: 0.5rem;
      font-size: 1rem;
    }

    .concede-allow,
    .save-progress-allow {
      color: white;
    }
  }
}

.players-overlay {
  position: absolute;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: 500;
  background: rgba(0, 0, 0, 0.9);

  &__close {
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 505;
    opacity: 1;
    color: #cccccc;
    cursor: pointer;

    @include mobile-portrait {
      font-size: 7rem;
    }

    @include small-mobile-portrait {
      font-size: 7rem;
    }
  }

  &__cards {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 110;
  }
}

.hold {
  cursor: grabbing;
}

.invisible {
  opacity: 0;
}

[draggable = true] {
  cursor: grab;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
/* End игровое поле */