@import "mixins";

/* Start поле выбора карт и карт в руке */
.cards-choose-field {
  width: 70vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 110;

  @include tablet-portrait {
    width: 90vw;
    top: 50%;
  }

  @include mobile-landscape {
    width: 85vw;
    transform: translate(-50%, -6%);
    bottom: 0;
  }

  @include small-mobile-landscape {
    width: 85vw;
    transform: translate(-50%, -6%);
    bottom: 0;
  }

  @include small-mobile-portrait {
    top: 57%;
  }
}

.cards {
  position: relative;
  margin-right: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
  background: center/cover no-repeat;
  outline: none;
  border: none;
  width: 0;
  height: 0;

  @include mobile-landscape {
    margin-right: 0;
    margin-top: 0;
  }

  @include small-mobile-landscape {
    margin-right: 0;
    margin-top: 0;
  }

  @include mobile-portrait {
    margin-right: 0;
  }

  @include small-mobile-portrait {
    margin-right: 0;
  }
}

.cards-restored {
  @extend .cards;

  width: 8rem;
  height: 10rem;

  @include mobile-portrait {
    width: 12rem;
    height: 16rem;
    margin-right: 0;
  }

  @include small-mobile-portrait {
    width: 12rem;
    height: 16rem;
    margin-right: 0;
  }

  @include mobile-landscape {
    width: 5rem;
    height: 7rem;
  }

  @include small-mobile-landscape {
    width: 5rem;
    height: 7rem;
  }

  @include desktop-big {
    width: 10rem;
    height: 13rem;
  }
}

.card-in-hand-field {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1%;
  display: flex;
  justify-content: center;
  z-index: 400;
}

.cards-to-play {
  position: relative;
  transition: all .3s ease-in-out;
  background: center/cover no-repeat;
  outline: none;
  border: none;
}

.card-to-action {
  border: none;
  outline: none;
  transform: translateY(-10%);
}

.card-to-select {
  border: none;
  outline: none;
  background-color: #0015cf;
  box-shadow: 0 0 70px #0015cf;
  border-radius: 10px;
}
/* End поле выбора карт и карт в руке */
