@import "variables";
@import "mixins";

.wrapper-choose-menu {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../images/backgrounds/warrior.jpg") center/cover no-repeat;
  color: white;
  transition: all .3s ease-in-out;
}

.description {
  position: absolute;
  left: 5%;
  top: 20%;
  width: 30%;
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;

  @include tablet-portrait {
    width: 90vw;
    font-size: 1.7rem;
  }

  @include tablet-landscape {
    width: 80vw;
    font-size: 1.2rem;
    top: 14%;
  }

  @include mobile-portrait {
    width: 70vw;
  }

  @include mobile-landscape {
    width: 90vw;
    font-size: 1.2rem;
  }

  @include small-mobile-landscape {
    width: 90vw;
    font-size: 1.2rem;
  }

  @include small-mobile-portrait {
    width: 70%;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #ff8400;

    @include tablet-landscape {
      font-size: 2.5rem;
    }

    @include mobile-landscape {
      font-size: 2rem;
    }

    @include small-mobile-landscape {
      font-size: 2rem;
    }

    @include mobile-portrait {
      font-size: 7rem;
    }

    @include small-mobile-portrait {
      font-size: 7rem;
    }
  }

  p {
    padding-top: 1.5rem;

    @include mobile-landscape {
      padding-top: 0.5rem;
    }

    @include small-mobile-landscape {
      padding-top: 0.5rem;
    }

    @include mobile-portrait {
      font-size: 2.5rem;
    }

    @include small-mobile-portrait {
      font-size: 2.5rem;
    }
  }
}

.options {
  position: absolute;
  bottom: 25%;
  left: 10%;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  transition: all .3s ease-in-out;

  @include tablet-portrait {
    flex-direction: column;
    width: 50vw;
    left: 6%;
  }

  @include tablet-landscape {
    flex-direction: column;
    width: 50vw;
    left: 6%;
    top: 35%;
  }

  @include mobile-portrait {
    flex-direction: column;
    height: 29vh;
    top: 45%;
    left: 7%;
  }

  @include mobile-landscape {
    height: 16vh;
    top: 54%;
    left: 10%;
  }

  @include small-mobile-landscape {
    height: 16vh;
    top: 54%;
    left: 10%;
  }

  @include small-mobile-portrait {
    flex-direction: column;
    height: 29vh;
    top: 45%;
    left: 7%;
  }

  .warrior,
  .rogue,
  .mage {
    border: 2px solid white;
    font-size: 3rem;
    border-radius: 20px;
    padding: 1rem 4rem 1rem 4rem;
    background-color: rgba(111, 93, 93, 0.65);
    cursor: pointer;
    transition: all .3s ease-in-out;

    @include tablet-portrait {
      margin-top: 3rem;
    }

    @include tablet-landscape {
      margin-top: 1rem;
      width: 29vw;
      font-size: 2rem;
    }

    @include mobile-landscape {
      font-size: 2rem;
      margin-right: 2rem;
    }

    @include small-mobile-landscape {
      font-size: 2rem;
      margin-right: 2rem;
    }

    @include mobile-portrait {
      font-size: 5rem;
    }

    @include small-mobile-portrait {
      font-size: 5rem;
    }
  }
}

.decision {
  display: flex;
  position: relative;
  width: 50vw;
  top: 78%;
  left: 10%;
  transition: all .3s ease-in-out;

  @include tablet-portrait {
    left: 6%;
  }

  @include mobile-portrait {
    top: 74%;
  }

  @include small-mobile-portrait {
    top: 74%;
  }

  &__btn {
    width: 10rem;
    border: 2px solid white;
    border-radius: 20px;
    padding: 1rem;
    font-size: 2rem;
    background-color: rgba(25, 250, 104, 0.65);
    cursor: pointer;
    transition: all .3s ease-in-out;

    @include tablet-landscape {
      padding: 0.5rem;
      font-size: 1.5rem;
    }

    @include mobile-portrait {
      width: 13rem;
      font-size: 3rem;
    }

    @include mobile-landscape {
      padding: 0.5rem;
      font-size: 1.5rem;
    }

    @include small-mobile-landscape {
      padding: 0.5rem;
      font-size: 1.5rem;
    }

    @include small-mobile-portrait {
      width: 13rem;
      font-size: 3rem;
    }
  }

  &__enter-name {
    width: 25rem;
    margin-right: 2rem;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-size: 2rem;
    outline: none;

    @include mobile-portrait {
      width: 30rem;
      font-size: 3rem;
    }

    @include small-mobile-portrait {
      width: 30rem;
      font-size: 3rem;
    }
  }
}

.player-choose {
  @include tablet-portrait {
    font-size: 3rem;
  }

  @include tablet-landscape {
    font-size: 2.5rem;
  }

  @include mobile-landscape {
    font-size: 2rem;
  }

  @include small-mobile-landscape {
    font-size: 2rem;
  }

  @include mobile-portrait {
    font-size: 4rem;
    width: 60vw;
    padding: 2rem;
  }

  @include small-mobile-portrait {
    font-size: 4rem;
    width: 60vw;
    padding: 2rem;
  }
}

.in-focus {
  box-shadow: 5px 5px 50px #00fc2a;
  transform: translateY(-1.5rem);

  @include tablet-portrait {
    transform: translateX(1.5rem);
  }

  @include tablet-landscape {
    transform: translateX(1.5rem);
  }

  @include mobile-landscape {
    transform: translateY(-1.1rem);
  }

  @include small-mobile-landscape {
    transform: translateY(-1.1rem);
  }
}

.back-to-main-menu {
  background: url("../images/icons/back-to-main-menu-icon.png") center/cover no-repeat;
  height: 60px;
  width: 145px;
  position: absolute;
  left: 2%;
  bottom: 2%;
  cursor: pointer;

  @include tablet-landscape {
    left: 80%;
  }

  @include tablet-portrait {
    left: 80%;
  }

  @include mobile-landscape {
    height: 45px;
    width: 100px;
    left: 85%;
    bottom: 3%;
  }

  @include small-mobile-landscape {
    height: 45px;
    width: 100px;
    left: 85%;
    bottom: 3%;
  }

  @include mobile-portrait {
    height: 95px;
    width: 210px;
  }

  @include small-mobile-portrait {
    height: 95px;
    width: 210px;
  }
}

.start-game {
  position: absolute;
  top: 50%;
  left: 40%;
  border-radius: 10px;
  background-color: #333333;
  color: #f80606;
  opacity: 1;
  cursor: pointer;
  visibility: hidden;
  animation: .5s linear 1s infinite alternate letsBattleAnimate;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.sound-icon {
  position: absolute;
  top: 5%;
  left: 84%;
  color: #d4b7b7;
  cursor: pointer;
}