@import "variables";
@import "mixins";

.wrapper-main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../images/backgrounds/main-menu.jpg") center/cover no-repeat;
}

.main-menu {
  font-size: $main-font-size;
  border: 3px solid #000000;
  border-radius: 20px;
  color: #000000;

  @include desktop {
    font-size: $tablet-font-size;
  }

  @include tablet {
    font-size: $tablet-font-size;
  }

  @include mobile {
    font-size: $mobile-font-size;
  }

  .startButton,
  .aboutButton,
  .continueButton {
    padding: 3rem;
    transition: color .3s linear;

    @include mobile-landscape {
      padding: 2rem;
    }

    &:hover,
    &:hover,
    &:hover {
      color: #ffffff;
      cursor: pointer;
    }
  }
}

.closeRuleBtn {
  color: white;
  position: absolute;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  transition: color .3s ease-in-out;
  border: 2px dotted white;
  padding: 1rem;
  border-radius: 20px;

  @include desktop {
    font-size: $tablet-font-size;
  }

  @include tablet {
    font-size: $tablet-font-size;
  }

  @include mobile {
    font-size: $mobile-font-size;
  }

  &:hover {
    color: #f80606;
  }
}

.soundIcon {
  position: absolute;
  top: 5%;
  left: 84%;
  color: #d4b7b7;
  cursor: pointer;
  z-index: 600;

  @include desktop {
    font-size: $tablet-font-size;
  }

  @include tablet {
    font-size: $tablet-font-size;
  }

  @include mobile {
    font-size: $mobile-font-size;
  }

}

.rules {
  height: 90vh;
  width: 100%;
}