@import "mixins";

.wrapper-main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../images/backgrounds/main-menu.jpg") center/cover no-repeat;
}

.main-menu {
  font-size: 4rem;
  border: 3px solid #000000;
  border-radius: 20px;
  color: #000000;

  @include mobile-portrait {
    font-size: 7rem;
  }

  @include mobile-landscape {
    font-size: 3rem;
  }

  .start-button,
  .about-button,
  .continue-button {
    padding: 3rem;
    transition: color .3s linear;

    @include mobile-portrait {
      padding: 5rem;
    }
    @include mobile-landscape {
      padding: 2rem;
    }

    &:hover,
    &:hover,
    &:hover {
      color: #ffffff;
      cursor: pointer;
    }
  }
}

.close-rule-btn {
  color: #00fc2a;
  position: absolute;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  transition: color .3s ease-in-out;
  border: 2px dotted #ef1678;
  padding: 1rem;
  border-radius: 20px;

  @include mobile-landscape {
    transform: rotate(90deg);
    font-size: 2rem;
    bottom: 25%;
    right: 0;
  }

  &:hover {
    color: #f80606;
  }
}

.sound-icon {
  position: absolute;
  top: 5%;
  left: 84%;
  color: #d4b7b7;
  cursor: pointer;
  z-index: 600;

}

.about-game {
  color: white;
  font-size: 2rem;
  margin: 2rem 2rem;

  @include mobile-landscape {
    font-size: 1.2rem;
    margin: 1rem 1rem;
  }

  @include tablet-landscape {
    font-size: 1.2rem;
    margin: 1rem 1rem;
  }

  p {
    margin-top: 5rem;

    @include mobile-landscape {
      margin-top: 1.4rem;
    }

    @include tablet-landscape {
      margin-top: 1.4rem;
    }
  }

  img {
    width: 110px;
    height: auto;

    @include mobile-landscape {
      width: 60px;
      height: auto;
    }

    @include tablet-landscape {
      width: 60px;
      height: auto;
    }
  }

  i {
    font-size: 4rem;
    margin: 0 2rem;

    @include mobile-landscape {
      font-size: 2rem;
    }

    @include tablet-landscape {
      font-size: 2rem;
    }
  }

  #about-game__stamina {
    width: 100px;
    height: auto;

    @include mobile-landscape {
      width: 55px;
    }

    @include tablet-landscape {
      width: 55px;
    }
  }
}