.wrapper-main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../images/backgrounds/main-menu.jpg") center/cover no-repeat;
}

.main-menu {
  border: 3px solid black;
  border-radius: 20px;
  color: black;
}

.startButton,
.aboutButton,
.continueButton {
  padding: 3rem;
  transition: color .3s linear;
}

.startButton:hover,
.aboutButton:hover,
.continueButton:hover {
  color: cyan;
  cursor: pointer;
}

.soundIcon {
  position: absolute;
  top: 5%;
  left: 84%;
  color: #d4b7b7;
  cursor: pointer;
  z-index: 600;
}

.closeRuleBtn {
  color: white;
  position: absolute;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  transition: color .3s ease-in-out;
  border: 2px dotted white;
  padding: 1rem;
  border-radius: 20px;
}

.closeRuleBtn:hover {
  color: #f80606;
}

.rules {
  height: 90vh;
  width: 100%;
}