@import "variables";
@import "mixins";
@import "player-1";

.player-2 {
  @extend .player-1;
  left: -4%;

  @include tablet-landscape {
    left: -10%;
  }

  @include tablet-portrait {
    left: -7%;
  }

  @include mobile-landscape {
    left: -10%;
  }

  @include small-mobile-landscape {
    left: -10%;
  }

  &__stamina {
    @extend .player-1__stamina;
    left: 91%;

    @include mobile-landscape {
      left: 105%;
    }

    @include small-mobile-landscape {
      left: 105%;
    }

    @include mobile-portrait {
      left: 82%;
    }

    @include small-mobile-portrait {
      left: 82%;
    }
  }

  &__pile-of-card {
    @extend .player-1__pile-of-card;
    left: 93%;

    @include mobile-landscape {
      left: 108%;
    }

    @include small-mobile-landscape {
      left: 108%;
    }

    @include small-mobile-portrait {
      left: 77%;
    }

    @include mobile-portrait {
      left: 77%;
    }
  }

  &__defence {
    @extend .player-1__defence;
    left: 0;

    @include mobile-landscape {
      left: 112%;
    }

    @include small-mobile-landscape {
      left: 112%;
    }
  }

  &__defence-value {
    @extend .player-1__defence-value;
  }

  &__model {
    @extend .player-1__model;
  }

  &__name {
    @extend .player-1__name;
  }

  &__hp {
    @extend .player-1__hp;
  }

  &__hp-bar {
    @extend .player-1__hp-bar;
  }

  &__hp-value {
    @extend .player-1__hp-value
  }

  &__hp-bar-inner {
    @extend .player-1__hp-bar-inner
  }

  &__stamina-value {
    @extend .player-1__stamina-value
  }

  &__stamina-maxvalue {
    @extend .player-1__stamina-maxvalue
  }
}